*{
    margin: 0px;
    padding: 0px;
    font-family: 'DynaPuff', cursive;

}
.Header{
    display: flex;
    align-items: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    transition: all 0.9s ease-out;
    height: 55px;
    justify-content:flex-start;
    text-decoration: none;
}
.Header a img{
    height: 59px;
    width: 50px;
}
.Headings a{
    text-decoration: none;
}

.imgofall{
    margin-left: 100px;
}

.Headings{
    display: flex;
    padding-left: 600px;
    gap: 15px;
    height: auto;
    padding-top: 5px;
}

.HeaderClassTag a{
    text-decoration: none;
}

.HeaderClassTag{
    transform: scale(1);
    transition: ease-in;
    transition-duration: 500ms;
}

.HeaderClassTag:hover{
    transform: scale(1.15);
    transition: ease-in;
    transition-duration: 500ms;
}

.HeaderClassTag a:hover{
    text-decoration: underline 3px yellowgreen ;
    transition: ease-in-out;
    transition-duration: 0.3s;

}

.Header:hover{
    background-color: #00DBDE;
    transition: all 0.6s ease-out;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}
